{% extends 'base.html' %}

{% block content %}



<div class="card bg-light text-dark">
    <div class="card-header">
    {{ phonebook.first_name }} {{ phonebook.last_name }}
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>{{ phonebook.phone_number }}</p>
            <p>{{ phonebook.address }}</p>
            <footer class="blockquote-footer text-dark">{{ phonebook.author.username }} on <cite title="Source Title">
                {{ phonebook.date_created.strftime('%A, %b %d, %Y at %I:%M%p') }}
            </cite></footer>
        </blockquote>
        <a href="{{ url_for('phonebook_update', phonebook_id=phonebook.id) }}" class="btn btn-success">Update</a>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                Delete
            </button>
          
          <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">{{ phonebook.first_name }} {{ phonebook.last_name }}</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <div class="modal-body">
                Are you sure you would like to delete {{ phonebook.first_name }} {{ phonebook.last_name }}'s info? You cannnot undo this action
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form action="{{ url_for('delete_phonebook', phonebook_id=phonebook.id) }}" method="post">
                    <input type="submit" class="btn btn-danger" value="Yes I'm sure"></input>
                </form>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>   



{% endblock content %}